# Dependencias
node_modules/

# Entorno / secretos
.env
.env.*
!.env.example

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
